{% extends "base.html" %}
{% block content %}
  <h1>Cadastrar Cliente</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="{{ url_for('client.create') }}" method="post">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.gender.label }}
    {{ form.gender }}
    {{ form.birth_date.label }}
    {{ form.birth_date }}
    {{ form.cpf.label }}
    {{ form.cpf }}
    {{ form.registration_date.label }}
    {{ form.registration_date }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.submit }}
  </form>
{% endblock content %}
