{% extends "base.html" %}
{% block title %}
  Gerenciar Cargos
{% endblock title %}
{% block content %}
  <h1>Gerenciar Cargos</h1>
  <a href="{{ url_for('employee_position.create') }}" role="button">Cadastrar Cargo</a>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>ID</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for role in roles %}
        <tr>
          <td>{{ role.nome }}</td>
          <td>{{ role.id }}</td>
          <td>
            <a href="#"
               role="button"
               data-tooltip="Visualizar"
               class="pico-background-blue-500"><i class="bi bi-eye-fill"></i></a>
            <a href="#"
               role="button"
               data-tooltip="Editar"
               class="pico-background-yellow-100"><i class="bi bi-pencil-fill"></i></a>
            <a href="#"
               role="button"
               data-tooltip="Excluir"
               class="pico-background-red-500"><i class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
      {% else %}
        Não há cargos cadastrados.
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
