{% extends "base.html" %}
{% block content %}
  <a href="{{ url_for('service_order.index') }}">Voltar</a>
  <h1>Cadastrar OS</h1>
  <form action="{{ url_for('service_order.create') }}" method="post">
    {{ form.csrf_token }}
    {{ form.tecnico_id.label }}
    {{ form.tecnico_id }}
    {{ form.cliente_id.label }}
    {{ form.cliente_id }}
    {{ form.descricao_do_problema.label }}
    {{ form.descricao_do_problema }}
    {{ form.data_.label }}
    {{ form.data_ }}
    {{ form.valor_total_da_ordem.label }}
    {{ form.valor_total_da_ordem }}
    {{ form.submit }}
  </form>
{% endblock content %}
