{% extends "base.html" %}
{% block title %}
  Gerenciar Fornecedores
{% endblock title %}
{% block content %}
  <h1>Gerenciar Fornecedores</h1>
  <a href="{{ url_for('supplier.create') }}" role="button">Cadastrar Fornecedor</a>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in suppliers %}
        <tr>
          <td>{{ supplier.nome }}</td>
          <td>{{ supplier.cnpj }}</td>
          <td>
            <a href="#" role="button">Visualizar</a>
            <a href="#" role="button">Editar</a>
            <a href="#" role="button">Excluir</a>
          </td>
        </tr>
      {% else %}
        Não há fornecedores cadastrados.
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
