{% extends "base.html" %}
{% block title %}
  Gerenciar OS
{% endblock title %}
{% block content %}
  <h1>Gerenciar Ordens de Serviço</h1>
  <a href="{{ url_for('service_order.create') }}" role="button">Cadastrar OS</a>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for model in models %}
        <tr>
          <td>{{ model.id }}</td>
          <td>{{ model.descricao_do_problema }}</td>
          <td>
            {% if model.aberto %}
              Aberto
            {% else %}
              Fechado
            {% endif %}
          </td>
          <td>
            <a href="#"
               role="button"
               class="pico-background-blue-500 container-fluid">Visualizar</a>
            <a href="#"
               role="button"
               class="pico-background-yellow-100 container-fluid">Editar</a>
            <a href="#"
               role="button"
               class="pico-background-red-500 container-fluid">Excluir</a>
            {% if model.aberto %}
              <form action="{{ url_for('service_order.change_status') }}" method="post">
                <input type="hidden" name="id" value="{{ model.id }}">
                <button type="submit" role="button">Fechar</button>
              </form>
            {% else %}
              <form action="{{ url_for('service_order.change_status') }}" method="post">
                <input type="hidden" name="id" value="{{ model.id }}">
                <button type="submit" role="button" class="secondary">Reabrir</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% else %}
        Não há OS cadastrados.
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
